@model BOL.TargetBOL;
@{
    ViewData["Title"] = " Target Details";
}

<div class="row">
    <div class="col-12 p-2">
        <div class="card shadow-sm p-3">
            <div class="card-title">
                <a href="~/salon/@Model.SalonId/targets">To the target list</a>
            </div>
            <div class="card-body">
                <dl>
                    <dt>
                        Id
                    </dt>
                    <dd>
                        @Model.Id
                    </dd>
                    <dt>
                        Year
                    </dt>
                    <dd>
                        @Model.Year
                    </dd>
                    <dt>
                        Total Monthly Takings
                    </dt>
                    <dd>
                        @Model.TotalTakings
                    </dd>
                    <dt>
                        Retail For The Month $
                    </dt>
                    <dd>
                        @Model.RetailMonth
                    </dd>
                    <dt>
                        Wage Bill For The Month $
                    </dt>
                    <dd>
                        @Model.WageBillMonth
                    </dd>
                    <dt>
                        Number of client visits In A Month
                    </dt>
                    <dd>
                        @Model.ClientVisitsMonth
                    </dd>
                    <dt>
                        Rebooks This Month %
                    </dt>
                    <dd>
                        @Model.RebooksMonth%
                    </dd>
                    <dt>
                        Total client visits (12 months) From Todays Date
                    </dt>
                    <dd>
                        @Model.ClientVisitsLastYear
                    </dd>
                    <dt>
                        Total individual clients (12 months) From Todays Date
                    </dt>
                    <dd>
                        @Model.IndividualClientVisitsLastYear
                    </dd>
                    <dt>
                        Number New clients this month
                    </dt>
                    <dd>
                        @Model.NewClientsMonth
                    </dd>
                    <dt>
                        Wage, %
                    </dt>
                    <dd>
                        @Model.WagePercent
                    </dd>
                    <dt>
                        Retail, %
                    </dt>
                    <dd>
                        @Model.RetailPercent
                    </dd>
                    <dt>
                        Average Bill
                    </dt>
                    <dd>
                        @Model.AverageBill
                    </dd>
                    <dt>
                        Total Year Target, $
                    </dt>
                    <dd>
                        @Model.TotalYearTarget
                    </dd>
                    <dt>
                        Average Client Visits Per Year
                    </dt>
                    <dd>
                        @Model.AverageClientVisitsYear
                    </dd>
                    <dt>
                        Weeks Between Appointments
                    </dt>
                    <dd>
                        @Model.WeeksBetweenAppointments
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>