@{
    ViewData["Title"] = "View all submissions";
}
@model List<BOL.FormDataBOL>;

<div class="row">
    <div class="col-lg-12">
        <div class="card-style mb-30">
            <div class="table-wrapper table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Timestamp</th>
                            <th>Name</th>
                            <th>SalonName</th>
                            <th>Email</th>
                            <th>Month</th>
                            <th>Clients In Database</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var data in Model)
                        {
                            <tr>
                                <td class="min-width">
                                    <div class="lead">
                                        <div class="lead-text">
                                            <p>@data.Id</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="lead">
                                        <div class="lead-text">
                                            <p>@data.Timestamp</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="lead">
                                        <div class="lead-text">
                                            <p>@data.Name</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="lead">
                                        <div class="lead-text">
                                            <p>@data.SalonName</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="lead">
                                        <div class="lead-text">
                                            <p>@data.Email</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="lead">
                                        <div class="lead-text">
                                            <p>@data.Month</p>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <div class="lead">
                                        <div class="lead-text">
                                            <p>@data.TotalClientsInDatabase</p>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>